<section class="contact-section">
  <div class="contact-container">
    <div class="contact-column">
      <div class="contact-content" >
        <!-- Address Section -->
        <div class="contact-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <div class="contact-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <h3 class="contact-title">Address</h3>
          <p class="contact-text">Rue de l'or, Les Berges du Lac 2, Tunis, Tunisia</p>
        </div>

        <!-- Phone Section -->
        <div class="contact-item"  data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <div class="contact-icon">
            <i class="fas fa-phone"></i>
          </div>
          <h3 class="contact-title">Phone</h3>
          <p class="contact-text">+216 27 932 190</p>
          <p class="contact-text">+216 22 559 645</p>
        </div>

        <!-- Email Section -->
        <div class="contact-item"  data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <h3 class="contact-title">Email</h3>
          <p class="contact-text">contact&#64;myloc.com</p>
          <p class="contact-text">myloc&#64;gmail.com</p>
        </div>

        <!-- Hours Section -->
        <div class="contact-item"  data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
          <div class="contact-icon">
            <i class="fas fa-clock"></i>
          </div>
          <h3 class="contact-title">Hours</h3>
          <p class="contact-text">Monday - Saturday</p>
          <p class="contact-text">7:00 AM - 7:00 PM</p>
        </div>
      </div>
    </div>
  </div>
</section>
