<section class="about__section" [ngStyle]="{'margin-top': marginTop}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about__section-content" >
          <!--div class="tex"> </div-->
          <h4 class="section__subtitle">About Us</h4>
          <h2 class="section__title">Welcome to MyLoc</h2>
          <p class="section__description">At "My Loc", we offer a wide range of cars to meet all your needs.</p>
          <div class="about__section-item d-flex align-items-center">
            <p class="section__description d-flex align-items-center gap-1">
              <i class="ri-checkbox-circle-line"></i> Impeccable and well-maintained cars
            </p>
            <p class="section__description d-flex align-items-center gap-1">
              <i class="ri-checkbox-circle-line"></i> Competitive rates
            </p>
          </div>
          <div class="about__section-item d-flex align-items-center">
            <p class="section__description d-flex align-items-center gap-1">
              <i class="ri-checkbox-circle-line"></i> Friendly, professional and dedicated service.
            </p>
            <p class="section__description d-flex align-items-center gap-1">
              <i class="ri-checkbox-circle-line"></i> Flexible rental options with discounts and packages to suit your needs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="about__img"></div>
      </div>
    </div>
  </div>
</section>
