<div class="bod">
  <app-common-section [title]="'About Us'"></app-common-section>
  <div class="container" style="margin: 0; padding: 0;">
    <div class="integr">
      <app-about-section></app-about-section>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="about__page-img" >
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12" data-aos="flip-left">
        <div class="about__page-content">
          <h2 class="section__title">
            We are committed to providing safe transportation solutions
          </h2>
          <p class="section__description">Free modifications and cancellations if needed</p>
          <p class="section__description">A friendly team that speaks your language</p>
          <p class="section__description">All-inclusive rates with no extra charges</p>
          <p class="section__description">No mileage limitation</p>
          <p class="section__description">Clear and precise conditions</p>
          <p class="section__description">Phone support</p>
          <p class="section__description">Comprehensive insurance</p>
          <p class="section__description">After-sales service</p>
          <p class="section__description">New cars</p>
          <div class="d-flex align-items-center gap-3 mt-4">
            <span class="fs-4">
              <i class="ri-phone-line"></i>
            </span>
            <div>
              <h6 class="section__subtitle">Need help?</h6>
              <h4>{{ contactNumber }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
