<ngx-slick-carousel class="hero__slider" #slickModal="slick-carousel" [config]="settings">
  <div ngxSlickItem class="slider__item slider__item-01 mt0">
    <div class="slider__content">
      <h4 class="text-light mb-3">The leading car rental agencies in one place</h4>
      <h1 class="text-light mb-4">Come in and check it out!</h1>
      <button class="btn reserve__btn mt-4" (click)="navigateToCars()">Book Now</button>
    </div>
  </div>

  <div ngxSlickItem class="slider__item slider__item-02 mt0">
    <div class="slider__content">
      <h4 class="text-light mb-3">Explore our range of vehicles, designed to meet all your desires and needs.</h4>
      <h1 class="text-light mb-4">The lowest prices in the universe...</h1>
      <button class="btn reserve__btn mt-4" (click)="navigateToCars()">Book Now</button>
    </div>
  </div>

  <div ngxSlickItem class="slider__item slider__item-03 mt0">
    <div class="slider__content">
      <h4 class="text-light mb-3">The leading car rental agencies in one place</h4>
      <h1 class="text-light mb-4">Best price guaranteed</h1>
      <button class="btn reserve__btn mt-4" (click)="navigateToCars()">Book Now</button>
    </div>
  </div>
</ngx-slick-carousel>
